<p id="notice"><%= notice %></p>

<strong>O nome do país é:</strong>
<%= @pais %>

<p>O nome da cidade é <%= @cidade %></p>

<p>
  <strong>Nome da Tarefa:</strong>
  <%= @tarefa.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @tarefa.descricao %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @tarefa.inicio %>
</p>

<p>
  <strong>Previsao:</strong>
  <%= @tarefa.previsao %>
</p>

<%= link_to 'editar URL', edit_tarefa_url(@tarefa) %> |
<%= link_to 'editar PATH', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Caminho que eu escolhi', "/tarefas/#{@tarefa.id}" %> |
<%= link_to 'voltar', tarefas_path %>
